fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
langgraph
chromadb
sentence-transformers
requests
google-api-python-client
typing-extensions